<div id="wrapper" class="container-fluid">
  <div
    id="intro-banner"
    class="row text-center"
    data-vide-bg="mp4: https://s3-us-west-2.amazonaws.com/coverr/mp4/In-And-Out.mp4, webm: https://s3-us-west-2.amazonaws.com/coverr/webm/In-And-out.webm, poster: https://s3-us-west-2.amazonaws.com/coverr/poster/In-And-Out.jpg"
    data-vide-options="posterType: jpg, loop: true, muted: false, position: 0% 0%">
      <div id="intro-banner-content" class="col col-md-4 col-md-offset-4">
        <h1><%= @company_info["name"] %></h1>
        <h3><%= @company_info["short_description"] %><h3>
        <div id="call-to-action" class="col col-md-8 col-md-offset-2">
          <h4>Get an email when we launch!<h4>
          <input id="email" class="form-control" type="text" placeholder="Email Address"/>
          <br>
          <button class="btn btn-primary btn-lg" onclick="submitEmail()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
