<div id="wrapper" class="container-fluid">
  <div id="intro-banner" class="row text-center" data-vide-bg="assets/video/ocean">
    <h1><h1><%= @company_info["name"] %></h1></h1>
    <a href="#what-is-it"><h3>What Is It?</h3></a>
    <div>
      <input id="email" type="text" placeholder="Email Address" />
      <button onclick="submitEmail()">Sign Up</button>
    </div>
  </div>
  <div id="what-is-it" class="row">
    <h1>What is it</h1>
    <p>a user story here?</p>
    <p>Lorem ipsum dolor sit amet, ridens evertitur ut his, modo case persecuti ei nam. Te pri brute tincidunt. Vim persius aliquid id, cu eos choro dissentias. Ne vim mutat aperiam honestatis. Nec adhuc indoctum tractatos ea, ad dicunt minimum delicatissimi mei. Atqui fuisset expetendis pri id, no cum agam audire officiis.
    Ius et legere intellegam, viderer suavitate mei te. Ea scripta bonorum denique est, mei no dolorum reprimique. Cu sed oblique ullamcorper, no quo homero maiestatis. Pro modus everti maiorum ad. Per dicta erant harum in, ea nec ridens forensibus, usu probo lucilius et.
    Te eius inciderint sit, velit doctus quo eu. Justo nostro ea est, no sea vidit partem, ut vitae integre singulis sit. Harum gubergren repudiandae mel an, ad pro option volumus interesset, inani perpetua cu vel. Fabellas adipisci ius et.
    In hinc quaeque eum, no pri dico appareat voluptatum, at unum forensibus quaerendum mel. Te sanctus offendit nam. Zril essent comprehensam ut vel, id saperet molestie sea. Legimus definitionem ut vel. Voluptatum scripserit voluptatibus ex cum, ad nec etiam accusata.
    </p>
  </div>
  <div id="contact-us" class="row">
    <h1>Contact Us By Email</h1>
    <div>
      <p>support@awesomeapp.com</p>
    </div>
  </div>
</div>
