<div id="wrapper" class="container-fluid">
  <div id="hero" class="row">
    <div>
      <h3 class="list-group-item-heading white">Popular Items</h3>
    </div>
  </div>
  <div id="popular-items" class="row">
    <div class="list-group">
      <% @products.each do |product| %>
          <div class="col-md-4">
            <%= render 'products/list_item', product: product %>
          </div>
      <% end %>
    </div>
  </div>
</div>
