<div class="product-item list-group-item">
  <div class="text-center">
    <h3><%= product.title %></h3>
    <%= image_tag product.image.url(:medium) %>
  </div>
  <p class="price">$<%= product.price %></p>
</div>